<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @client.age %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>cep:</strong>
  <%= @client.cep %>
</p>

<p>
  <strong>uf:</strong>
  <%= @client.uf %>
</p>

<p>
  <strong>city:</strong>
  <%= @client.city %>
</p>

<p>
  <strong>neighborhood:</strong>
  <%= @client.neighborhood %>
</p>

<p>
  <strong>address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>number:</strong>
  <%= @client.number %>
</p>

<p>
  <strong>father:</strong>
  <%= @client.father %>
</p>

<p>
  <strong>mother:</strong>
  <%= @client.mother %>
</p>

<p>
  <strong>marital_status:</strong>
  <%= @client.marital_status %>
</p>

<p>
  <strong>naturalness:</strong>
  <%= @client.naturalness %>
</p>

<p>
  <strong>uf_naturalness:</strong>
  <%= @client.uf_naturalness %>
</p>

<p>
  <strong>cpf:</strong>
  <%= @client.cpf %>
</p>

<p>
  <strong>issuing_organ:</strong>
  <%= @client.issuing_organ %>
</p>

<p>
  <strong>document_type:</strong>
  <%= @client.document_type %>
</p>

<p>
  <strong>contact:</strong>
  <%= @client.contact %>
</p>

<p>
  <strong>scrap_contact:</strong>
  <%= @client.scrap_contact %>
</p>

<p>
  <strong>relationship1:</strong>
  <%= @client.relationship1 %>
</p>

<p>
  <strong>relationship2:</strong>
  <%= @client.relationship2 %>
</p>

<p>
  <strong>observation:</strong>
  <%= @client.observation %>
</p>


<p>
  <strong>Status:</strong>
  <%= @client.status %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
