<h1>LMS Advanced</h1>
<h2>Bem vindo</h2>

<% if user_signed_in? %>
  <ul>
    <li><%= link_to "Profissões", professions_path %></li>
    <li><%= link_to "Clientes", clients_path %></li>
    <li><%= link_to "Processo trabalhista", labor_processes_path %></li>
    <li><%= link_to "Processo administrativo", administrative_processes_path %></li>
    <li><%= link_to "Tarefas trabalhistas", task_labors_path %></li>
    <li><%= link_to "Tarefas administrativa", task_administratives_path %></li>
  </ul>
  <ul>
    <li><%= current_user.email %></li>
    <li><%= link_to "Desconectar", destroy_user_session_path, method: :delete %></li>
  </ul>
<% else %>
  <ul>
    <li><%= link_to "Logar", new_user_session_path %></li>
    <li><%= link_to "Cadastrar usuário", new_user_registration_path %></li>
  </ul>
<% end %>
