
<%= simple_form_for(@task_labor) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :delivery_date %>
    <%= f.input :task_description %>



    <div>
      <%= f.label :process_number %>
      <%= f.collection_select(:labor_process_id, LaborProcess.all, :id, :process_number, prompt: true) %>
    </div>


  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
